<?xml version="1.0" encoding="UTF-8"?>
<!--DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd"-->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ExecutableSuite">
  <test thread-count="5" name="Successful Refer A Friend Test">
  <parameter name="system.properties.path" value="prod.system" />
    <classes>
      <class name="tests.SuccessfulReferAFriendTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- ExecutableSuite -->
